@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-white;
}

@layer utilities {
  .hide-scroll {
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}

.swiper {
  overflow: unset !important;
}

.swiper-slide {
  width: 355px !important;
}

.swiper-button-prev {
  left: -50px !important;
}
.swiper-button-next {
  right: -50px !important;
}
